body {
  margin: 0 50px;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

/* @media screen and (max-width: 992px) {
  body {
    background-color: blue;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
} */

